/.settings
/.project
/.buildpath
/satis.phar
/vendor
/phpunit.xml
composer.phar

web/
!web/files/
web/files/.DS_Store
!web/deploy.php
!web/deploy-config.php

.DS_Store
web/index.html
web/packages.json

composer.lock
SatisPackages.sublime-workspace
